<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="/sessions/index">Home</a>
        <a href="/sessions/account">MY ACCOUNT</a>
        <a href="/users/contact">CONTACT</a>
        <a href="/sessions/resources">RESOURCES</a>
       
       
        <a href="/sessions/logout">LOGOUT</a>
      </div>
      <h2>picture</h2>
    <h1>PORTAL</h1>
    <h2>API search bar</h2>
    <h2>User will be able to see new menu</h2>
    <h2></h2>
    <footer>
        <div class="topnav">
            <a href="/users/about">ABOUT YOUR AGENT</a>
            <a href="/users/contact">CONTACT</a>
            <a href="#contact">SOCIAL MEDIA</a>
            
           
          </div>
    </footer>
</body>

</html>