<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="/users">Home</a>
        <a href="/users/about">ABOUT YOUR AGENT</a>
        <a href="/users/contact">CONTACT</a>
        <a href="/users/register">REGISTER</a>
        <a href="/sessions/login">LOGIN</a>
      </div>
    <h1>About agent</h1>
</body>
</html>